.footer-container{
    padding:40px 20px;
    text-align:center;
    background:#111827;
    border-top:1px solid rgba(255,255,255,0.1);
    color:white;
}
.footer-container h2{
    color:#c084fc;
    margin-bottom:10px;
    font-size:28px;
}
.footer-container p{
    color:#cbd5e1;
    margin-bottom:15px;
    font-size:15px;
}
.footer-icons{
    display:flex;
    justify-content:center;
    gap:25px;
    margin:20px 0px;
}
.footer-icons a{
    width:45px;
    height:45px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    background:#1e1b4b;
    color:#c084fc;
    font-size:20px;
    transition:0.3s;
    text-decoration:none;
}
.footer-icons a:hover{
    background:#a855f7;
    color:white;
    transform:translateY(-5px);
    box-shadow:0px 0px 15px rgba(168,85,247,0.5);
}
